body
{
  font-family:MS Sans Serif, Geneva, sans-serif;
}
div.modalBackdrop
{
  background-color:black;
  opacity:0.3;
  filter:alpha(opacity=30);
}
div.frameBase
{
  background-color:#ffffff;
  border:1px solid #443322;
}
div.frameBase div.titleBar
{
  background-color:#ddccaa;
  border-bottom:1px solid #443322;
}
div.frameBase div.titleBar div.frameButton
{
  background-color:#aa9977;
}

div.taskbarContainer
{
  background-color:#ddccaa;
  border-top:1px solid #332222;
}
div.taskbarContainer div.menuButton
{
  background-color:red;
}
div.taskbarContainer div.accountButton
{
  background-color:red;
}

div.itemContainer.icon div.background
{
  background-color:#ddccaa;
  border:1px solid #aa9977;
}
