html { overflow-y:hidden; overflow:hidden; }
body
{
  font-family:MS Sans Serif, Geneva, sans-serif;
  margin:0px;
  overflow-y:hidden;
  overflow:hidden;
}
div.backgroundImage
{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:-1;
  padding-top:24px;
}
div.modalBackdrop
{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:998;
  background-color:black;
  opacity:0.3;
  filter:alpha(opacity=30);
}

div.frameBase
{
  background-color:#F4F7F7;
  border:1px solid #6B7B8C;
  border-radius:2px;
}
div.frameBase div.titleBar
{
  width:100%;
  height:20px;
  position:relative;
}
div.frameBase div.titleBar div.title
{
  position:absolute;
  top:-1px;
  left:-1px;
  right:-1px;
  text-align:center;
  cursor:default;
  background-color:#ADD8C7;
  height:20px;
  border:1px solid #556270;
  border-top-right-radius:2px;
  border-top-left-radius:2px;
  font-size:16px;
  text-overflow:ellipsis;
}
div.frameBase.focus div.titleBar div.title
{
  font-weight:bold;
  background-color:#E3F6F3;
}
div.frameBase div.titleBar div.frameButton
{
  position:absolute;
  top:-1px;
  left:-1px;
  width:20px;
  height:20px;
  background-color:#D3741C;
  border:1px solid #C6491A;
  cursor:pointer;
}
div.frameBase div.titleBar div.frameButton.close
{
  background-image:url('images/window_close.png');
  background-repeat:no-repeat;
  background-position:center;
}
div.frameBase div.titleBar div.title.close
{
  left:20px;
  border-top-left-radius:0px;
}

div.frameBase div.toolbar
{
  height:18px;
  border-bottom:1px solid #6B7B8C;
  width:100%;
}
div.frameBase div.toolbar > div.item
{
  display:inline;
  font-size:16px;
  cursor:pointer;
  border-left:1px solid black;
  margin-left:2px;
  margin-right:2px;
}

div.frameBase div.sidebar
{
  background-color:lightgray;
  height:100%;
}
div.frameBase div.sidebar.right
{
  float:right;
  width:150px;
  border-left:1px solid black;
  border-bottom-right-radius:5px;
  -moz-border-bottom-right-radius:5px;
}
div.frameBase div.sidebar.left
{
  float:left;
  width:150px;
  border-right:1px solid black;
  border-bottom-left-radius:5px;
  -moz-border-bottom-left-radius:5px;
}
div.frameBase div.frameContent
{
  font-size:10px;
  overflow-y:auto;
  overflow:auto;
}
div.frameBase div.paneContainer
{
  background-color:pink;
  font-size:10px;
  overflow-y:auto;
  overflow:auto;
}
div.frameBase div.tabContainer
{
  text-align:left;
  background-color:light-gray;
}
div.frameBase div.tabContainer div.tab
{
  display:inline-block;
  border:1px solid black;
  cursor:pointer;
  background-color:gray;
  margin-left:3px;
  min-height:20px;
  max-height:20px;
  padding:2px 6px 2px 6px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  overflow:hidden;
}
div.frameBase div.tabContainer div.tab.focus { background-color:white; cursor:default; }

div.taskbarContainer
{
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  height:28px;
  background:#EDF6F9 url('bg-tileOverlay.png');
  border-top:2px solid #A1A5A2;
}
div.taskbarContainer img.profilePicture
{
  position:absolute;
  bottom:5px;
  left:15px;
  width:75px;
  height:75px;
  max-height:75px;
  max-width:75px;
  border:1px solid black;
  padding:2px;
  background-color:white;
  border-radius:5px;
  -moz-border-radius:5px;
  cursor:pointer;
}
div.taskbarContainer img.taskbarProgramsButton
{
  position:absolute;
  bottom:30px;
  left:100px;
  width:48px;
  height:48px;
  cursor:pointer;
}
div.taskbarContainer div.taskbar
{
  position:absolute;
  left:110px;
  right:3px;
  bottom:3px;
  top:3px;
  overflow:hidden;
  text-align:left;
}
div.taskbarContainer div.taskbar div.item
{
  display:inline-block;
  max-width:200px;
  min-width:200px;
  width:200px;
  border:1px solid black;
  font-size:15px;
  background-color:gray;
  height:18px;
  cursor:default;
  margin-left:5px;
  padding-left:2px;
  padding-right:2px;
  padding-top:2px;
  position:relative;
  border-radius:3px;
  -moz-border-radius:3px;
  overflow:hidden;
}
div.taskbarContainer div.taskbar div.item img.icon
{
  height:16px;
  width:16px;
  position:absolute;
  left:2px;
  top:2px;
}
div.taskbarContainer div.taskbar div.item div.name
{
  display:inline-block;
  position:absolute;
  top:1px;
  bottom:0px;
  left:20px;
  right:0px;
  overflow:hidden;
  text-overflow:ellipsis;
}
div.taskbarContainer div.taskbar div.item.focus
{
  background-color:white;
}

div.menuContainer
{
  position:absolute;
  /*background-color:#D3D3D3;*/
  /*border:1px solid #696969;*/
  width:250px;
  max-width:250px;
}
div.menuContainer div.entry
{
  padding-left:33px;
  position:relative;
  min-height:22px;
  cursor:default;
  font-size:12px;
  border:1px solid #696969;
  background-color:#D3D3D3;
  border-bottom:none;
  padding-top:3px;
  padding-bottom:3px;
  padding-right:3px;
  line-height:20px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
}
div.menuContainer div.entry.last
{
  border-bottom:1px solid #696969;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:2px;
}
div.menuContainer div.entry.default
{
  font-weight:bold;
  background-color:#B8B8B8;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  -moz-border-top-left-radius:3px;
  -moz-border-top-right-radius:3px;
}
div.menuContainer div.entry.submenu
{
  background-image:url('/images/icons/expand-arrow.png');
  background-repeat:no-repeat;
  background-position:right center;
}
div.menuContainer div.entry.hasInteractions { cursor:pointer; }
div.menuContainer div.entry.hasInteractions:hover
{
  background-color:#E5E5E5;
}
div.menuContainer div.entry img.icon
{
  position:absolute;
  width:22px;
  height:22px;
  left:3px;
  max-width:25px;
  max-height:22px;
  border-right:1px solid #828282;
  padding-right:3px;
}

div.itemContainer.icon
{
  width:75px;
  height:75px;
  cursor:default;
  margin:3px;
  display:inline-block;
  overflow:hidden;
  border-radius:5px;
  -moz-border-radius:5px;
  position:relative;
}
div.itemContainer.icon div.background
{
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;
  border-radius:5px;
  -moz-border-radius:5px;
  opacity:0.3;
  filter:alpha(opacity=30);
  background-color:lightblue;
  border:1px solid blue;
  z-index:0;
}
div.itemContainer.icon.focus div.background
{
  opacity:1.0;
  filter:alpha(opacity=100);
}
div.itemContainer.icon div.image
{
  width:48px;
  height:48px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  z-index:1;
}
div.itemContainer.icon div.label
{
  font-size:10px;
  text-align:center;
  width:70px;
  max-width:70px;
  overflow:hidden;
  position:absolute;
  z-index:1;
}

div.promptContainer { text-align:center; font-size:14px; }
div.promptContainer div.question
{
  text-align:center;
  font-weight:bold;
  margin:10px;
  cursor:default;
}
div.promptContainer input.button
{
  width:100px;
  border:1px solid black;
  font-weight:bold;
  text-align:center;
}
div.promptContainer input.button.green, input.valid
{
  border-color:green;
  color:green;
  background-color:#A6D785;
}
div.promptContainer input.button.red, input.invalid
{
  border-color:red;
  color:red;
  background-color:#F08080;
}
