div.loginBackground
{
  position:absolute;
  bottom:0px;
  top:0px;
  left:0px;
  right:0px;
  background-repeat:no-repeat;
  background:url('../images/interface/login-wallpaper.jpeg') no-repeat top right;
  z-index:-1;
}

div.loginPanel
{
  margin-top:100px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  border:3px solid #CFCFCF;
  border-radius:6px;
  -moz-border-radius:6px;
  padding:5px;
  text-align:center;
}

input.loginTextbox
{
  width:350px;
  margin:5px;
  font-size:18px;
  text-align:center;
}

input.loginTextbox.empty
{
  color:#A7A7A7;
}

input.loginButton
{
  display:block;
  width:150px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}