div.WindowBase {
background-color:#93b0be;
border:1px solid #101418;
color:#263444;
}

div.WindowBaseUnfoc { //!
background-color:#C1C1CD;
border:1px solid #606070;
color:#53535E;
}

div.WindowTitle {
background-color:#547593;
border-bottom:1px solid #101418;
color:white;
}

div.WindowTitleUnfoc { //!
background-color:#BAB9CD;
border-bottom:1px solid #606070;
color:#53535E;
}

div.WindowBody a:link, div.WindowBody a:visited, div.WindowBody a:active, div.WindowBody a:hover {
color:#263444;
}

div.WindowBodyUnfoc a:link, div.WindowBodyUnfoc a:visited, div.WindowBodyUnfoc a:active, div.WindowBodyUnfoc a:hover{
//!
color:#53535E;
}

.TaskBar {
background-color:#f0f5d8;
background-image:url("images/bg-tileOverlay.png");
border-top:2px solid #8c8353;
color:white;
}

.TaskBarItem {
border:1px solid #849ca2;
background-color:#def8f9;
color:#849ca2;
}

.TaskBarItemUnfoc { //!
border:1px solid #96a39d;
background-color:#dbe5e4;
color:#96a39d;
}

div.TaskBarUser{
border:1px solid #849ca2;
background-color:#def8f9;
color:#849ca2;
}

div.UserMenu{
border:2px solid #e2f1f0;
background-color:#b5d8de;
}

tr.UserMenuTableRow:hover{
background-color:#e2f1f0;
}

div.ContextMenu{
background-color:green;
}
.WindowTitleButton{
background-color:#B1BBD2;
border:1px solid #B1BBD2;
border-right:1px solid #64718F;
color:#8B919E;
}

.WindowStatusBar{
background-color:#737C92;
border-top:1px solid #64718F;
color:white;
}

img.WindowStatusBar{
margin:3px;
}

.LoadingText{
color:#474D5B;
}

td.prog_folder{
background-color:#FFD773;
border:1px solid #000000;
color:#000000;
}

td.prog_trash{
background-color:silver;
border:1px solid black;
color:#000;
}

td.UnselectedFile:hover{
background-color:pink;
}

.SelectedFile{
background-color:#bfd6e2;
}

.SelectedFileIcon{
background-color:#bfd6e2;
}
.SelectedFileName{
background-color:#bfd6e2;
}

img.desktopThemeIcon{
background-color:lime;
border:1px solid black;
}

.ActionsBar {
background-color:#d5eaa9;
background-image:url("images/bg-tileOverlay.png");
border-bottom:2px solid #808e54;
color:white;
}

.ActionsBarItem {
border:1px solid #606728;
background-color:#adc17f;
color:#535f27;
}

.InvalidInputBox
{
border:1px solid crimson;
color:crimson;
background-color:lightpink;
}

.ValidInputBox
{
border:1px solid black;
}

.ErrorInputBox
{

}

.InputButton
{
border:1px solid black;
}

.LoadingIcon
{
border:1px solid black;
}
